@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Home page from GITHUB ";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1>TEST VIAMBATI</h1>
    
</div>
